In [ ]:
import psycopg2

hostname = "fv48k4.h.filess.io"
database = "Olistpgsqldb_kindrancan"
port = "5432"
username = "Olistpgsqldb_kindrancan"
password = "c4b493773666d77e1109c9b453d75b6b38e63f82"

# Establishing the connection
conn = psycopg2.connect(
   database=database, user=username, password=password, host=hostname, port=port
)
# Creating a cursor object using the cursor() method
cursor = conn.cursor()

# Executing an MYSQL function using the execute() method
cursor.execute("select version()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ", data)

# Closing the connection
conn.close()

Connection established to:  ('PostgreSQL 14.4 on x86_64-pc-linux-musl, compiled by gcc (Alpine 11.2.1_git20220219) 11.2.1 20220219, 64-bit',)

In [ ]:
import pandas as pd

In [ ]:
order_payments = pd.read_csv('olist_order_payments_dataset.csv')
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [ ]:
import pandas as pd
import psycopg2
from psycopg2 import Error
from psycopg2.extras import execute_values
import io

# Connection details
hostname = "fv48k4.h.filess.io"
database = "Olistpgsqldb_kindrancan"
port = "5432"
username = "Olistpgsqldb_kindrancan"
password = "c4b493773666d77e1109c9b453d75b6b38e63f82"

# CSV file path
csv_file_path = "olist_order_payments_dataset.csv"

# Schema and table name where the data will be uploaded
table_name = "olist_order_payments"

try:
    # Step 1: Establish a connection to PostgreSQL server
    connection = psycopg2.connect(
        host=hostname,
        database=database,
        user=username,
        password=password,
        port=port
    )

    # Enable autocommit for better performance during table creation
    connection.autocommit = True

    if connection:
        print("Connected to PostgreSQL Server successfully!")

        # Step 2: Create a cursor to execute SQL queries
        cursor = connection.cursor()

        # Find a schema where we have write permissions
        print("Checking for writable schemas...")

        # Check available schemas
        cursor.execute("""
            SELECT schema_name
            FROM information_schema.schemata
            WHERE schema_name NOT IN ('information_schema', 'pg_catalog', 'pg_toast', 'pg_temp_1')
        """)
        schemas = cursor.fetchall()
        print("Available schemas:", [s[0] for s in schemas])

        # Get current user
        cursor.execute("SELECT current_user;")
        current_user = cursor.fetchone()[0]
        print(f"Current user: {current_user}")

        # Test schemas for write permissions
        writable_schema = None
        for schema in schemas:
            schema_name = schema[0]
            try:
                # Try to create a test table
                test_table = f"{schema_name}.test_permissions_temp"
                cursor.execute(f"CREATE TABLE {test_table} (id INTEGER);")
                cursor.execute(f"DROP TABLE {test_table};")
                writable_schema = schema_name
                print(f"Found writable schema: {schema_name}")
                break
            except Exception as e:
                print(f"Cannot write to schema '{schema_name}': {str(e)[:100]}...")
                connection.rollback()  # Rollback failed transaction
                continue

        # If no existing schema works, try to create one
        if not writable_schema:
            try:
                user_schema = current_user.lower()
                cursor.execute(f"CREATE SCHEMA IF NOT EXISTS {user_schema};")
                connection.commit()

                # Test the new schema
                test_table = f"{user_schema}.test_permissions_temp"
                cursor.execute(f"CREATE TABLE {test_table} (id INTEGER);")
                cursor.execute(f"DROP TABLE {test_table};")

                writable_schema = user_schema
                print(f"Created and using schema: {user_schema}")

            except Exception as e:
                print(f"Cannot create user schema: {e}")
                # Try without schema (might work in some configurations)
                try:
                    cursor.execute(f"CREATE TABLE test_permissions_temp (id INTEGER);")
                    cursor.execute(f"DROP TABLE test_permissions_temp;")
                    writable_schema = None  # Use no schema prefix
                    print("Using default schema (no prefix)")
                except Exception as e2:
                    raise Exception(f"No writable schema found and cannot create tables anywhere: {e2}")

        # Set the full table name
        if writable_schema:
            full_table_name = f"{writable_schema}.{table_name}"
        else:
            full_table_name = table_name

        print(f"Will create table: {full_table_name}")

        # Step 3: Drop table if it already exists (for clean insertion)
        cursor.execute(f"DROP TABLE IF EXISTS {full_table_name};")
        print(f"Table `{full_table_name}` dropped if it existed.")

        # Step 4: Create a table structure to match CSV file (without indexes initially)
        create_table_query = f"""
        CREATE TABLE {full_table_name} (
            order_id VARCHAR(50),
            payment_sequential INTEGER,
            payment_type VARCHAR(20),
            payment_installments INTEGER,
            payment_value NUMERIC(10,2)
        );
        """
        cursor.execute(create_table_query)
        print(f"Table `{full_table_name}` created successfully!")

        # Disable autocommit for bulk operations
        connection.autocommit = False

        # Step 5: Load the CSV data into pandas DataFrame
        data = pd.read_csv(csv_file_path)
        print("CSV data loaded into pandas DataFrame.")

        # Handle NaN values
        data = data.fillna('')

        # METHOD 1: Using COPY (Fastest for large datasets)
        print("Using COPY method for fastest insertion...")

        # Create a StringIO buffer
        output = io.StringIO()

        # Write data to the buffer in CSV format
        data.to_csv(output, sep='\t', header=False, index=False, na_rep='\\N')
        output.seek(0)

        # Use COPY to insert data
        cursor.copy_from(
            output,
            full_table_name,
            columns=('order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value'),
            sep='\t',
            null='\\N'
        )

        connection.commit()
        print(f"All {len(data)} records inserted successfully using COPY method!")

        # Optional: Add indexes after data insertion for better query performance
        print("Creating indexes...")
        cursor.execute(f"CREATE INDEX idx_{table_name}_order_id ON {full_table_name} (order_id);")
        cursor.execute(f"CREATE INDEX idx_{table_name}_payment_type ON {full_table_name} (payment_type);")
        connection.commit()
        print("Indexes created successfully!")

except Error as e:
    # Handle any errors
    print("Error while connecting to PostgreSQL or inserting data:", e)

    # Fallback to batch insert method if COPY fails
    try:
        print("\nCOPY method failed, falling back to optimized batch insert...")

        # Rollback any failed transaction
        connection.rollback()

        # Recreate table
        cursor.execute(f"DROP TABLE IF EXISTS {full_table_name};")
        cursor.execute(create_table_query)

        # METHOD 2: Optimized batch insert using execute_values
        batch_size = 1000  # Larger batch size for better performance
        total_records = len(data)

        print(f"Starting optimized batch insertion with batch size: {batch_size}")

        for start in range(0, total_records, batch_size):
            end = start + batch_size
            batch = data.iloc[start:end]

            # Convert batch to list of tuples
            batch_records = [
                tuple(x if pd.notna(x) else None for x in row)
                for row in batch.itertuples(index=False, name=None)
            ]

            # Use execute_values for better performance than executemany
            insert_query = f"""
            INSERT INTO {full_table_name}
            (order_id, payment_sequential, payment_type, payment_installments, payment_value)
            VALUES %s
            """

            execute_values(
                cursor,
                insert_query,
                batch_records,
                template=None,
                page_size=batch_size
            )

            # Commit every few batches instead of every batch
            if (start // batch_size) % 5 == 0:  # Commit every 5 batches
                connection.commit()

            print(f"Inserted records {start + 1} to {min(end, total_records)}")

        # Final commit
        connection.commit()
        print(f"All {total_records} records inserted successfully using batch method!")

    except Error as fallback_error:
        print("Fallback method also failed:", fallback_error)
        connection.rollback()

finally:
    # Step 8: Close the cursor and connection
    if connection:
        cursor.close()
        connection.close()
        print("PostgreSQL connection is closed.")

Connected to PostgreSQL Server successfully!
Checking for writable schemas...
Available schemas: ['olistpgsqldb_kindrancan']
Current user: Olistpgsqldb_kindrancan
Found writable schema: olistpgsqldb_kindrancan
Will create table: olistpgsqldb_kindrancan.olist_order_payments
Table `olistpgsqldb_kindrancan.olist_order_payments` dropped if it existed.
Table `olistpgsqldb_kindrancan.olist_order_payments` created successfully!
CSV data loaded into pandas DataFrame.
Using COPY method for fastest insertion...
Error while connecting to PostgreSQL or inserting data: relation "olistpgsqldb_kindrancan.olist_order_payments" does not exist


COPY method failed, falling back to optimized batch insert...
Starting optimized batch insertion with batch size: 1000
Inserted records 1 to 1000
Inserted records 1001 to 2000
Inserted records 2001 to 3000
Inserted records 3001 to 4000
Inserted records 4001 to 5000
Inserted records 5001 to 6000
Inserted records 6001 to 7000
Inserted records 7001 to 8000
Inserted records 8001 to 9000
Inserted records 9001 to 10000
Inserted records 10001 to 11000
Inserted records 11001 to 12000
Inserted records 12001 to 13000
Inserted records 13001 to 14000
Inserted records 14001 to 15000
Inserted records 15001 to 16000
Inserted records 16001 to 17000
Inserted records 17001 to 18000
Inserted records 18001 to 19000
Inserted records 19001 to 20000
Inserted records 20001 to 21000
Inserted records 21001 to 22000
Inserted records 22001 to 23000
Inserted records 23001 to 24000
Inserted records 24001 to 25000
Inserted records 25001 to 26000
Inserted records 26001 to 27000
Inserted records 27001 to 28000
Inserted records 28001 to 29000
Inserted records 29001 to 30000
Inserted records 30001 to 31000
Inserted records 31001 to 32000
Inserted records 32001 to 33000
Inserted records 33001 to 34000
Inserted records 34001 to 35000
Inserted records 35001 to 36000
Inserted records 36001 to 37000
Inserted records 37001 to 38000
Inserted records 38001 to 39000
Inserted records 39001 to 40000
Inserted records 40001 to 41000
Inserted records 41001 to 42000
Inserted records 42001 to 43000
Inserted records 43001 to 44000
Inserted records 44001 to 45000
Inserted records 45001 to 46000
Inserted records 46001 to 47000
Inserted records 47001 to 48000
Inserted records 48001 to 49000
Inserted records 49001 to 50000
Inserted records 50001 to 51000
Inserted records 51001 to 52000
Inserted records 52001 to 53000
Inserted records 53001 to 54000
Inserted records 54001 to 55000
Inserted records 55001 to 56000
Inserted records 56001 to 57000
Inserted records 57001 to 58000
Inserted records 58001 to 59000
Inserted records 59001 to 60000
Inserted records 60001 to 61000
Inserted records 61001 to 62000
Inserted records 62001 to 63000
Inserted records 63001 to 64000
Inserted records 64001 to 65000
Inserted records 65001 to 66000
Inserted records 66001 to 67000
Inserted records 67001 to 68000
Inserted records 68001 to 69000
Inserted records 69001 to 70000
Inserted records 70001 to 71000
Inserted records 71001 to 72000
Inserted records 72001 to 73000
Inserted records 73001 to 74000
Inserted records 74001 to 75000
Inserted records 75001 to 76000
Inserted records 76001 to 77000
Inserted records 77001 to 78000
Inserted records 78001 to 79000
Inserted records 79001 to 80000
Inserted records 80001 to 81000
Inserted records 81001 to 82000
Inserted records 82001 to 83000
Inserted records 83001 to 84000
Inserted records 84001 to 85000
Inserted records 85001 to 86000
Inserted records 86001 to 87000
Inserted records 87001 to 88000
Inserted records 88001 to 89000
Inserted records 89001 to 90000
Inserted records 90001 to 91000
Inserted records 91001 to 92000
Inserted records 92001 to 93000
Inserted records 93001 to 94000
Inserted records 94001 to 95000
Inserted records 95001 to 96000
Inserted records 96001 to 97000
Inserted records 97001 to 98000
Inserted records 98001 to 99000
Inserted records 99001 to 100000
Inserted records 100001 to 101000
Inserted records 101001 to 102000
Inserted records 102001 to 103000
Inserted records 103001 to 103886
All 103886 records inserted successfully using batch method!
PostgreSQL connection is closed.

In [ ]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.7.tar.gz (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.4/91.4 kB 7.4 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.7-cp311-cp311-linux_x86_64.whl size=127561 sha256=bfbb7226ee54dc3473fb8afd81bbb8417faaabd5ddcf05d8a429d1d37f6819db
  Stored in directory: /root/.cache/pip/wheels/cd/5f/fb/dbe9e6e7e1e24f9e73164c77b5fdc19bd36240425835c0e635
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.7

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.3 kB)
Downloading mysql_connector_python-9.4.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 55.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0

In [ ]:
import mysql.connector
from mysql.connector import Error

hostname = "8bile7.h.filess.io"
database = "OLISTMYsqlDBvaibhav_stripbowam"
port = "3307"
username = "OLISTMYsqlDBvaibhav_stripbowam"
password = "f63999dd3c7246b1b7dca8514961a033b8da75f7"

try:
    connection = mysql.connector.connect(host=hostname, database=database, user=username, password=password, port=port)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

/tmp/ipython-input-609181654.py:13: DeprecationWarning: Call to deprecated function get_server_info. Reason:
    The property counterpart 'server_info' should be used instead.

  db_Info = connection.get_server_info()

Connected to MySQL Server version  8.0.36-28
You're connected to database:  ('OLISTMYsqlDBvaibhav_stripbowam',)
MySQL connection is closed

In [ ]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
import io
import csv

# Connection details
hostname = "8bile7.h.filess.io"
database = "OLISTMYsqlDBvaibhav_stripbowam"
port = "3307"
username = "OLISTMYsqlDBvaibhav_stripbowam"
password = "f63999dd3c7246b1b7dca8514961a033b8da75f7"

# CSV file path
csv_file_path = "olist_order_payments_dataset.csv"

# Table name where the data will be uploaded
table_name = "olist_order_payments"

try:
    # Step 1: Establish a connection to MySQL server
    connection = mysql.connector.connect(
        host=hostname,
        database=database,
        user=username,
        password=password,
        port=port,
        autocommit=True  # Enable autocommit for table creation
    )

    if connection.is_connected():
        print("Connected to MySQL Server successfully!")

        # Step 2: Create a cursor to execute SQL queries
        cursor = connection.cursor()

        # Check current database and user
        cursor.execute("SELECT DATABASE();")
        current_db = cursor.fetchone()[0]
        print(f"Current database: {current_db}")

        cursor.execute("SELECT USER();")
        current_user = cursor.fetchone()[0]
        print(f"Current user: {current_user}")

        # Test table creation permissions
        print("Testing table creation permissions...")
        try:
            cursor.execute("CREATE TABLE test_permissions_temp (id INT);")
            cursor.execute("DROP TABLE test_permissions_temp;")
            print("Table creation permissions confirmed.")
        except Exception as e:
            print(f"Permission test failed: {e}")
            raise Exception("No permission to create tables in this database")

        print(f"Will create table: {table_name}")

        # Step 3: Drop table if it already exists (for clean insertion)
        cursor.execute(f"DROP TABLE IF EXISTS {table_name};")
        print(f"Table `{table_name}` dropped if it existed.")

        # Step 4: Create a table structure to match CSV file
        create_table_query = f"""
        CREATE TABLE {table_name} (
            order_id VARCHAR(50),
            payment_sequential INT,
            payment_type VARCHAR(20),
            payment_installments INT,
            payment_value DECIMAL(10,2)
        );
        """
        cursor.execute(create_table_query)
        print(f"Table `{table_name}` created successfully!")

        # Disable autocommit for bulk operations
        connection.autocommit = False

        # Step 5: Load the CSV data into pandas DataFrame
        data = pd.read_csv(csv_file_path)
        print("CSV data loaded into pandas DataFrame.")
        print(f"Dataset shape: {data.shape}")

        # Handle NaN values
        data = data.fillna('')

        # METHOD 1: Using LOAD DATA LOCAL INFILE (Fastest for MySQL)
        print("Attempting to use LOAD DATA LOCAL INFILE method...")

        try:
            # Save data to a temporary CSV file
            temp_csv = "temp_mysql_data.csv"
            data.to_csv(temp_csv, index=False, header=False, na_rep='\\N',
                       quoting=csv.QUOTE_MINIMAL, escapechar='\\')

            # Use LOAD DATA LOCAL INFILE
            load_query = f"""
            LOAD DATA LOCAL INFILE '{temp_csv}'
            INTO TABLE {table_name}
            FIELDS TERMINATED BY ','
            OPTIONALLY ENCLOSED BY '"'
            LINES TERMINATED BY '\\n'
            (order_id, payment_sequential, payment_type, payment_installments, payment_value);
            """

            cursor.execute(load_query)
            connection.commit()
            print(f"All {len(data)} records inserted successfully using LOAD DATA LOCAL INFILE!")

            # Clean up temp file
            import os
            if os.path.exists(temp_csv):
                os.remove(temp_csv)

        except Error as load_error:
            print(f"LOAD DATA LOCAL INFILE failed: {load_error}")
            raise load_error

        # Add indexes after data insertion for better query performance
        print("Creating indexes...")
        cursor.execute(f"CREATE INDEX idx_{table_name}_order_id ON {table_name} (order_id);")
        cursor.execute(f"CREATE INDEX idx_{table_name}_payment_type ON {table_name} (payment_type);")
        connection.commit()
        print("Indexes created successfully!")

except Error as e:
    # Handle any errors
    print("Error while connecting to MySQL or inserting data:", e)

    # Fallback to batch insert method if LOAD DATA fails
    try:
        print("\nLOAD DATA method failed, falling back to optimized batch insert...")

        # Rollback any failed transaction
        connection.rollback()

        # Recreate table
        cursor.execute(f"DROP TABLE IF EXISTS {table_name};")
        cursor.execute(create_table_query)

        # METHOD 2: Optimized batch insert using executemany
        batch_size = 1000  # Batch size for better performance
        total_records = len(data)

        print(f"Starting optimized batch insertion with batch size: {batch_size}")

        # Prepare the INSERT query
        insert_query = f"""
        INSERT INTO {table_name}
        (order_id, payment_sequential, payment_type, payment_installments, payment_value)
        VALUES (%s, %s, %s, %s, %s)
        """

        # Process data in batches
        for start in range(0, total_records, batch_size):
            end = start + batch_size
            batch = data.iloc[start:end]

            # Convert batch to list of tuples, handling NaN values
            batch_records = []
            for row in batch.itertuples(index=False, name=None):
                # Convert NaN to None for MySQL
                processed_row = tuple(None if pd.isna(x) else x for x in row)
                batch_records.append(processed_row)

            # Execute batch insert
            cursor.executemany(insert_query, batch_records)

            # Commit every few batches
            if (start // batch_size) % 5 == 0:  # Commit every 5 batches
                connection.commit()

            print(f"Inserted records {start + 1} to {min(end, total_records)}")

        # Final commit
        connection.commit()
        print(f"All {total_records} records inserted successfully using batch method!")

        # Create indexes
        print("Creating indexes...")
        cursor.execute(f"CREATE INDEX idx_{table_name}_order_id ON {table_name} (order_id);")
        cursor.execute(f"CREATE INDEX idx_{table_name}_payment_type ON {table_name} (payment_type);")
        connection.commit()
        print("Indexes created successfully!")

    except Error as fallback_error:
        print("Fallback method also failed:", fallback_error)
        if connection.is_connected():
            connection.rollback()

finally:
    # Close the cursor and connection
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed.")

Connected to MySQL Server successfully!
Current database: OLISTMYsqlDBvaibhav_stripbowam
Current user: OLISTMYsqlDBvaibhav_stripbowam@34.48.14.135
Testing table creation permissions...
Table creation permissions confirmed.
Will create table: olist_order_payments
Table `olist_order_payments` dropped if it existed.
Table `olist_order_payments` created successfully!
CSV data loaded into pandas DataFrame.
Dataset shape: (103886, 5)
Attempting to use LOAD DATA LOCAL INFILE method...
LOAD DATA LOCAL INFILE failed: LOAD DATA LOCAL INFILE file request rejected due to restrictions on access.
Error while connecting to MySQL or inserting data: LOAD DATA LOCAL INFILE file request rejected due to restrictions on access.

LOAD DATA method failed, falling back to optimized batch insert...
Starting optimized batch insertion with batch size: 1000
Inserted records 1 to 1000
Inserted records 1001 to 2000
Inserted records 2001 to 3000
Inserted records 3001 to 4000
Inserted records 4001 to 5000
Inserted records 5001 to 6000
Inserted records 6001 to 7000
Inserted records 7001 to 8000
Inserted records 8001 to 9000
Inserted records 9001 to 10000
Inserted records 10001 to 11000
Inserted records 11001 to 12000
Inserted records 12001 to 13000
Inserted records 13001 to 14000
Inserted records 14001 to 15000
Inserted records 15001 to 16000
Inserted records 16001 to 17000
Inserted records 17001 to 18000
Inserted records 18001 to 19000
Inserted records 19001 to 20000
Inserted records 20001 to 21000
Inserted records 21001 to 22000
Inserted records 22001 to 23000
Inserted records 23001 to 24000
Inserted records 24001 to 25000
Inserted records 25001 to 26000
Inserted records 26001 to 27000
Inserted records 27001 to 28000
Inserted records 28001 to 29000
Inserted records 29001 to 30000
Inserted records 30001 to 31000
Inserted records 31001 to 32000
Inserted records 32001 to 33000
Inserted records 33001 to 34000
Inserted records 34001 to 35000
Inserted records 35001 to 36000
Inserted records 36001 to 37000
Inserted records 37001 to 38000
Inserted records 38001 to 39000
Inserted records 39001 to 40000
Inserted records 40001 to 41000
Inserted records 41001 to 42000
Inserted records 42001 to 43000
Inserted records 43001 to 44000
Inserted records 44001 to 45000
Inserted records 45001 to 46000
Inserted records 46001 to 47000
Inserted records 47001 to 48000
Inserted records 48001 to 49000
Inserted records 49001 to 50000
Inserted records 50001 to 51000
Inserted records 51001 to 52000
Inserted records 52001 to 53000
Inserted records 53001 to 54000
Inserted records 54001 to 55000
Inserted records 55001 to 56000
Inserted records 56001 to 57000
Inserted records 57001 to 58000
Inserted records 58001 to 59000
Inserted records 59001 to 60000
Inserted records 60001 to 61000
Inserted records 61001 to 62000
Inserted records 62001 to 63000
Inserted records 63001 to 64000
Inserted records 64001 to 65000
Inserted records 65001 to 66000
Inserted records 66001 to 67000
Inserted records 67001 to 68000
Inserted records 68001 to 69000
Inserted records 69001 to 70000
Inserted records 70001 to 71000
Inserted records 71001 to 72000
Inserted records 72001 to 73000
Inserted records 73001 to 74000
Inserted records 74001 to 75000
Inserted records 75001 to 76000
Inserted records 76001 to 77000
Inserted records 77001 to 78000
Inserted records 78001 to 79000
Inserted records 79001 to 80000
Inserted records 80001 to 81000
Inserted records 81001 to 82000
Inserted records 82001 to 83000
Inserted records 83001 to 84000
Inserted records 84001 to 85000
Inserted records 85001 to 86000
Inserted records 86001 to 87000
Inserted records 87001 to 88000
Inserted records 88001 to 89000
Inserted records 89001 to 90000
Inserted records 90001 to 91000
Inserted records 91001 to 92000
Inserted records 92001 to 93000
Inserted records 93001 to 94000
Inserted records 94001 to 95000
Inserted records 95001 to 96000
Inserted records 96001 to 97000
Inserted records 97001 to 98000
Inserted records 98001 to 99000
Inserted records 99001 to 100000
Inserted records 100001 to 101000
Inserted records 101001 to 102000
Inserted records 102001 to 103000
Inserted records 103001 to 103886
All 103886 records inserted successfully using batch method!
Creating indexes...
Indexes created successfully!
MySQL connection is closed.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.14.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.14.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 8.4 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 21.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.14.0

In [ ]:
# importing module
from pymongo import MongoClient

hostname = "6pkdo2.h.filess.io"
database = "OlistDataNoSQL_cracknoun"
port = "27018"
username = "OlistDataNoSQL_cracknoun"
password = "0d0c823c21ed1b5792df6148fff631899f397d21"

uri = "mongodb://" + username + ":" + password + "@" + hostname + ":" + port + "/" + database

# Connect with the portnumber and host
client = MongoClient(uri)

# Access database
mydatabase = client[database]

In [ ]:
import pandas as pd
from pymongo import MongoClient

# Connection details (assuming they are the same as in the previous cell)
hostname = "6pkdo2.h.filess.io"
database = "OlistDataNoSQL_cracknoun"
port = "27018"
username = "OlistDataNoSQL_cracknoun"
password = "0d0c823c21ed1b5792df6148fff631899f397d21"

uri = "mongodb://" + username + ":" + password + "@" + hostname + ":" + port + "/" + database

# Connect with the portnumber and host
try:
    client = MongoClient(uri)
    # The ismaster command is cheap and does not require auth.
    client.admin.command('ismaster')
    print("MongoDB connection successful!")
    # Access database
    mydatabase = client[database]

    # Read the product category CSV into a pandas DataFrame
    try:
        product_category_df = pd.read_csv('product_category_name_translation.csv')
        print("Product category CSV data loaded into pandas DataFrame.")
        print(f"Dataset shape: {product_category_df.shape}")
        display(product_category_df.head())

    except FileNotFoundError:
        print("Error: 'product_category_name_translation.csv' not found.")
        product_category_df = None
    except Exception as e:
        print(f"Error loading CSV file: {e}")
        product_category_df = None

    # Upload data to MongoDB
    if product_category_df is not None:
        try:
            # Access the collection (it will be created if it doesn't exist)
            collection_name = "product_categories"
            mycollection = mydatabase[collection_name]

            # Convert DataFrame to a list of dictionaries
            data_dict = product_category_df.to_dict('records')

            # Insert the data into the collection
            if data_dict:
                # Optional: Clear the collection before inserting to avoid duplicate data on re-runs
                # mycollection.delete_many({})
                insert_result = mycollection.insert_many(data_dict)
                print(f"Successfully inserted {len(insert_result.inserted_ids)} documents into the '{collection_name}' collection.")
            else:
                print("DataFrame is empty, no data to insert.")

        except Exception as e:
            print(f"Error inserting data into MongoDB: {e}")

except Exception as e:
    print(f"Failed to connect to MongoDB: {e}")

MongoDB connection successful!
Product category CSV data loaded into pandas DataFrame.
Dataset shape: (71, 2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

Successfully inserted 71 documents into the 'product_categories' collection.